<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update</title>
  </head>
  <body>
    <h2>update-account</h2>

    {% if status != 0 %}
    <div>
      <p>{{ msg }}</p>
    </div>
    {% endif %}

    <pre>
      {{ dump(user) }}
    </pre>
    
    <form action="{{ route('update-account') }}" method="post">
      <input
        type="text"
        name="name"
        placeholder="john doe"
        value="{{ formData()['name']['value'] }}"
        class="input-{{ formData()['name']['error'] ? 'error' : 'success' }}"
      />

      {{ formData()['name']['error'] }}
      <br />
      <input
        type="text"
        name="email"
        placeholder="example@criminal.me"
        value="{{ formData()['email']['value'] }}"
      />
      {{ formData()['email']['error'] }}
      <br />
      <input
        type="password"
        name="password"
        placeholder="your pass"
        value="{{ formData()['password']['value'] }}"
      />
      {{ formData()['password']['error'] }}
      <br />

      <button type="submit">Update</button>
    </form>
  </body>
</html>
