<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update</title>
  </head>
  <body>
    <h2>update-account</h2>

    {% if status != 0 %}
    <div>
      <p>{{ msg }}</p>
    </div>
    {% endif %}

    <form action="{{ route('update-account') }}" method="post">
      <input type="hidden" name="id" value="{{ user.id }}" />
      <br />

      <input
        type="text"
        name="name"
        placeholder="john doe"
        value="{{ user.name }}"
      />

      {{ formData()['name']['error'] }}
      <br />
      <input
        type="text"
        name="email"
        placeholder="example@criminal.me"
        value="{{ user.email }}"
      />
      {{ formData()['email']['error'] }}
      <br />
      <input
        type="hidden"
        name="password"
        placeholder="your pass"
        value="{{ user.password }}"
      />
      <br />

      <button type="submit">Update</button>
    </form>
  </body>
</html>
